.additional-catalog__header {
  font-family: @header-family;
  font-size: 24px;
  font-weight: @basic-weight;
  line-height: 24px;
  padding-bottom: 35px;
}

.additional-catalog__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid @middle-gray-border;

  &:last-child {
    border-bottom: 1px solid @middle-gray-border;
  }
}

.additional-catalog__product-name {
  font-family: @header-family;
  font-size: @basic-size;
  font-weight: @basic-weight;
  line-height: @basic-size;
  color: @dark-gray;
  padding-bottom: 13px;
}

.additional-catalog__product-list {
  color: @special-text;
  font-size: 12px;
  line-height: @basic-size;
}
