.additional-catalog {
  .area;
}

.additional-catalog__header {
  font-family: @header-family;
  font-size: 24px;
  font-weight: @basic-weight;
  line-height: 24px;
  padding-top: 25px;
  padding-bottom: 35px;
  margin: 0;
  padding-left: @basic-padding;
  padding-right: @basic-padding;
}

.additional-catalog__list {
  padding-left: @basic-padding;
  padding-right: @basic-padding;
}

.additional-catalog__item {
  padding-top: 15px;
  padding-bottom: 18px;
  border-top: 1px solid @middle-gray-border;
  position: relative;

  &:last-child {
    border-bottom: 1px solid @middle-gray-border;
  }
}

.additional-catalog__product-name {
  font-family: @header-family;
  font-size: 16px;
  font-weight: @basic-weight;
  line-height: @basic-size;
  color: @dark-gray;
  padding-bottom: 13px;
  text-transform: uppercase;
  margin: 0;
}

.additional-catalog__product-list {
  color: @special-text;
  font-size: 14px;
  line-height: @basic-size;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.additional-catalog__product-term,
.additional-catalog__product-description {
  flex-basis: 50%;
}

.additional-catalog__product-description {
  margin-left: 0;
  text-align: right;
}

.additional-catalog__button {
  background-color: @basic-background;
  color: @white-color;
  font-family: @header-family;
  font-size: 16px;
  font-weight: @basic-weight;
  line-height: @basic-padding;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 15px;
  display: block;
  grid-column-start: -1;
  grid-column-end: 1;

  &:hover {
    background-color: @button-background-hover;
  }

  &:focus {
    color: @buttom-focus-text;
  }
}

@media (min-width: @tablet-width) {
  .additional-catalog__header {
    border-top: 0;
    padding-top: 65px;
    padding-bottom: 80px;
    padding-left: 38px;
    font-size: @header-size;
    line-height: @header-size;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: @white-color;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      transform: translateX(50%);
      width: 100vw;
      height: 2px;
      background-color: @basic-background;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      transform: translateX(-100%);
      width: 100%;
      height: 2px;
      background-color: @basic-background;
    }
  }

  .additional-catalog__list {
    border-left: 1px solid @middle-gray-border;
    border-right: 1px solid @middle-gray-border;
    padding-left: 0;
    padding-right: 0;
  }

  .additional-catalog__item {
    padding-top: 22px;
    padding-bottom: 23px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .additional-catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .additional-catalog__product-name {
    padding-bottom: 0;
    font-size: @basic-padding;
    line-height: @basic-padding;
  }

  .additional-catalog__product-list {
    font-size: 16px;
    line-height: @basic-padding;
    margin-bottom: 0;
    margin-top: 5px;
  }

  .additional-catalog__product-term,
  .additional-catalog__product-description {
    flex-basis: auto;
  }

  .additional-catalog__product-description {
    margin-left: 57px;
  }

  .additional-catalog__button {
    font-size: 16px;
    line-height: @basic-padding;
  }
}

@media (min-width: @desktop-width) {
  .additional-catalog {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }

  .additional-catalog__header {
    grid-column-start: -1;
    grid-column-end: 1;
    padding-top: 72px;
    padding-left: 0;
    line-height: 42px;
    padding-bottom: 75px;

    &::after {
      transform: translateX(28%);
    }

    &::before {
      transform: translateX(104%);
    }
  }

  .additional-catalog__list {
    margin-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
    border-left: 0;
    border-right: 0;
  }

  .additional-catalog__item {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 244px;
    padding: 0;
    //column-gap: 40px;
  }

  .additional-catalog__wrapper {
    display: grid;
    grid-template-columns: 324px 1fr;
    margin-bottom: 0;
  }

  .additional-catalog__product-list {
    display: grid;
    grid-template-columns: 246px 1fr;
  }

  .additional-catalog__product-description {
    text-align: left;
    margin-left: 0;
  }

  .additional-catalog__button {
    grid-column-start: 2;
    grid-column-end: 2;
    margin-top: 15px;
    margin-bottom: 17px;
    line-height: 40px;
    padding: 0;
  }
}
