.advantages {
  background-color: @white-color;
  padding-left: @basic-padding;

  .area;
}

.advantages__header {
  font-family: @header-family;
  font-size: @header-size;
  font-weight: @basic-weight;
  line-height: 40px;
  padding-top: 27px;
  padding-bottom: 33px;
}

.advantages__item {
  padding-left: @basic-padding * 4;
  margin-bottom: @basic-padding;
}

.advantages__info {
  font-family: @text-family;
  font-size: @basic-size;
  line-height: 18px;
  color: @special-text;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 135px;
  }

  .advantages__item {
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}
