.advantages {
  background-color: @white-color;
  padding-left: @basic-padding;
}

.advantages__header {
  font-family: @header-family;
  font-size: @header-size;
  font-weight: @basic-weight;
  line-height: 40px;
  padding-top: 27px;
  padding-bottom: 33px;
}

.advantages__item {
  padding-left: @basic-padding * 4;
  margin-bottom: @basic-padding;
}

.advantages__info {
  font-family: @text-family;
  font-size: @basic-size;
  line-height: 18px;
  color: @special-text;
}
