.banner {
  text-align: center;
}

.banner__image {
  background-image: url("../../img/index-background-desktop2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: @basic-background-opacity;
  width: 320px;
  height: 302px;
  position: absolute;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: @basic-background-opacity;
  }
}

.banner__wrapper {
  //background-color: @basic-background-opacity;
  height: 100%;
  padding: 27px 35px;
  position: relative;
  z-index: 2;
}

.banner__header,
.banner__discription,
.banner__button {
  font-family: @header-family;
  color: @white-color;
}

.banner__header {
  font-size: @header-size;
  line-height: @header-size;
  font-weight: @basic-weight;
  padding-bottom: 25px;
  text-align: center;
}

.banner__discription {
  font-size: @basic-size;
  font-weight: @basic-weight;
  line-height: @basic-size;
  padding-bottom: 29px;
  text-transform: uppercase;
  text-align: center;
}

.banner__button {
  background-color: @basic-background;
  color: @white-color;
  font-size: @basic-size;
  font-weight: @basic-weight;
  line-height: 18px;
  padding: 7px 44px;
  text-transform: uppercase;

  &:hover {
    background-color: @button-background-hover;
  }

  &:focus {
    color: @buttom-focus-text;
  }
}

@media (min-width: @tablet-width) {
  .banner {
    text-align: left;
    .tablet-container;
  }

  .banner__image {
    display: none;
  }

  .banner__wrapper {
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }

  .banner__wrapper-image {
    order: 2;
    margin: 0 auto;
  }

  .banner__button {
    order: 1;
    align-self: flex-start;
  }

  .banner__header,
  .banner__discription {
    color: @basic-text;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .banner {
    display: flex;
    height: 640px;
    overflow: hidden;

    .desktop-container;
  }

  .banner__image {
    display: block;
    height: 720px;
    width: 50%;
    order: 2;
    position: absolute;
    top: 0;
    right: 0;
  }
}
