.banner {
  text-align: center;
  position: relative;

  .area;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    background-color: @basic-background-opacity;
  }

  &::before {
    content: "";
    background-image: url("../img/index-background-desktopm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: @basic-background-opacity;
    width: 320px;
    height: 302px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.banner__wrapper {
  //background-color: @basic-background-opacity;
  height: 100%;
  padding: 27px 35px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.banner__header,
.banner__discription,
.banner__button {
  font-family: @header-family;
  color: @white-color;
}

.banner__header {
  font-size: @header-size;
  line-height: @header-size;
  font-weight: @basic-weight;
  margin-bottom: 0;
  padding-bottom: 25px;
  text-align: center;
}

.banner__discription {
  font-size: @basic-size;
  font-weight: @basic-weight;
  line-height: @basic-size;
  padding-bottom: 29px;
  text-transform: uppercase;
  text-align: center;

  .indent-resert;
}

.banner__inner {
  order: 0;
  display: flex;
  flex-direction: column;
}

.banner__wrapper-image {
  order: 0;
}

.banner__button {
  background-color: @basic-background;
  color: @white-color;
  font-size: @basic-size;
  font-weight: @basic-weight;
  line-height: 18px;
  padding: 7px 44px;
  text-transform: uppercase;
  order: 1;

  &:hover {
    background-color: @button-background-hover;
  }

  &:focus {
    color: @buttom-focus-text;
  }
}

@media (min-width: @tablet-width) {
  .banner {
    text-align: left;

    &::before,
    &::after {
      background-image: none;
      background-color: transparent;
    }
  }

  .banner__wrapper {
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }

  .banner__header {
    font-size: 60px;
    line-height: 60px;
    max-width: 414px;
    padding-bottom: 40px;
    margin-bottom: 0;
  }

  .banner__discription {
    margin-bottom: 49px;
    padding-bottom: 0;
    font-size: @basic-padding;
    line-height: @basic-padding;
  }

  .banner__inner {
    //order: 2;
    //margin-top: -83px;
    z-index: 0;
  }

  .banner__wrapper-image {
    order: 2;
    margin: 0 auto;
  }

  .banner__wrapper-image,
  source {
    width: 708px;
    //height: 609px;
    margin-top: -83px;
  }

  .banner__button {
    order: 0;
    z-index: 10;
    align-self: flex-start;
    font-size: @basic-padding;
    padding: 14px 26px;
  }

  .banner__header,
  .banner__discription {
    color: @basic-text;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .banner {
    display: flex;
    height: 564px;
    overflow: hidden;
    position: inherit;

    &::before {
      background-image: url("../img/index-background-desktop1.jpg");
      width: 50%;
      height: 696px;
      left: auto;
      right: 0;
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background-image: url("../img/index-background-desktop1@2x.png");
      }
    }

    &::after {
      height: 696px;
      background-color: transparent;
      background-image: linear-gradient(to right, @white-color 50%, @basic-background-opacity 50%);
    }
  }

  .banner__wrapper {
    width: 100%;
    padding-top: 60px;
  }

  .banner__inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .banner__wrapper-image,
  source {
    width: 552px;
    margin-top: -320px;
    transform: translateX(-32%);
  }
}
