.developer {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.developer__link {
  font-size: 16px;
  color: @special-text;
  font-style: normal;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;

  .indent-resert;

  &:focus {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    .developer__icon {
      fill: @basic-background;
    }
  }
}

.developer__icon {
  fill: @special-text;
}

@media (min-width: @tablet-width) {
  .developer {
    flex-basis: 100% / 3;
    justify-content: flex-end;
    padding-top: 0;
  }

  .developer__link {
    flex-basis: unset;
  }

  .developer__icon {
    margin-left: 22px;
  }
}
