.example-form__title {
  font-family: @header-family;
  font-weight: @basic-weight;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

.example-form__discription {
  font-size: 12px;
  line-height: 1;
  color: @special-text;
}

.example-form__price {
  font-family: @header-family;
  font-size: @basic-size;
  font-weight: @basic-weight;
  line-height: @basic-padding;
  text-transform: uppercase;
}

.example-form__button {
  font-family: @header-family;
  font-weight: @basic-weight;
  font-size: 16px;
  line-height: @basic-padding;
  text-transform: uppercase;
  padding: 5px;
}
