.example {
  background-color: @alternative-background;
  margin-top: 27px;
  padding-bottom: 30px;
}

.example__wrapper {
  .area;
}

.example__header {
  font-family: @header-family;
  font-size: @header-size;
  font-weight: @basic-weight;
  line-height: 40px;
}

.example__discription {
  font-size: @basic-size;
  line-height: 18px;
  color: @special-text;
  padding-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: @white-color;
  }
}

@media (min-width: @desktop-width) {
  .example {
    position: relative;
  }

  .example__header {
    margin-bottom: 76px;
  }

  .example__discription {
    max-width: 436px;
    margin-bottom: 69px;
  }
}
