.example {
  background-color: @alternative-background;
  margin-top: 27px;
  padding-bottom: 30px;
}

.example__container {

  .area;
}

.example__wrapper {
  padding-left: @basic-padding;
  padding-right: @basic-padding;
  position: relative;
  padding-top: 1px;
}

.example__header {
  font-family: @header-family;
  font-size: @header-size;
  font-weight: @basic-weight;
  line-height: 40px;
}

.example__discription {
  font-size: @basic-size;
  line-height: 18px;
  color: @special-text;
  padding-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: @white-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100vw;
      height: 462px;
      background-color: @light-background;
    }
  }

  .example__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .example__header {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__discription {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 31.6vw;
      height: 462px;
      background-color: @alternative-background;
      z-index: 0;
    }
  }

  .example__container {
    position: relative;
    z-index: 2;
  }

  .example__header {
    margin-bottom: 146px;
  }

  .example__discription {
    max-width: 436px;
    padding-bottom: 0;
    margin-bottom: 69px;
  }
}
