.form-block__header {
  font-size: @header-size;
  line-height: @header-size;
  font-family: @header-family;
  font-weight: @basic-weight;
}

.form-block__discription {
  font-size: @basic-size;
  line-height: 18px;
  font-family: @header-family;
  font-weight: @basic-weight;
  text-transform: uppercase;
}

.form-block {
  .area;
}

.form-block__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .form-block {
    padding-right: 0;
  }

  .form-block__header {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  .form-block__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .form-block__discription {
    font-size: @basic-padding;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

@media (min-width: @desktop-width) {
  .form-block {
    padding-left: 0;
  }

  .form-block__header {
    margin-top: 73px;
  }
}
