.main-catalog {
  .area;
}

.main-catalog__header {
  font-family: @header-family;
  font-size: @header-size;
  font-weight: @basic-weight;
  line-height: @header-size;
  padding-left: @basic-padding;
  padding-right: @basic-padding;
}

.main-catalog__list {
  padding-left: @basic-padding;
  padding-right: @basic-padding;
}

.main-catalog__item {
  padding-top: 19px;
  padding-bottom: 25px;
  position: relative;
  //border-top: 1px solid @extra-light-border;

  &:last-child {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 100vw;
      background-color: @extra-light-border;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 100vw;
    background-color: @extra-light-border;
  }
}

.main-catalog__item--all-products {
  .main-catalog__wrapper--all-products {
    grid-template-rows: auto;
  }

  .main-catalog__link {
    grid-template-rows: auto;
  }
}

.main-catalog__link {
  grid-column-start: -1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 112px;
  position: relative;

  .main-catalog__product-name {
    font-family: @header-family;
    font-size: 16px;
    font-weight: @basic-weight;
    line-height: @basic-padding;
    color: @dark-gray;
    padding-right: 45px;
    text-transform: uppercase;
    margin: 0;
  }
}

.main-catalog__plus {
  margin: 0 auto;
  margin-bottom: 20px;
  grid-column-start: -1;
  grid-column-end: 1;
  stroke-width: 2px;
  stroke: @middle-gray;
}

.main-catalog__product-caption {
  color: @special-text;
  font-size: 12px;
  line-height: @basic-size;
  margin-bottom: 21px;
  grid-column-start: -1;
  grid-column-end: 1;
}

.main-catalog__product-list {
  color: @special-text;
  font-size: 12px;
  line-height: 16px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 22px;

  position: absolute;
  right: 0;
  bottom: 63px;
  width: 50%;
}

.main-catalog__product-term,
.main-catalog__product-description {
  flex-basis: 50%;
}

.main-catalog__product-description {
  margin-left: 0;
  text-align: right;
}

.main-catalog__product-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-catalog__product-image {
  object-fit: inherit;
}

.main-catalog__button {
  background-color: @basic-background;
  color: @white-color;
  font-family: @header-family;
  font-size: @basic-size;
  font-weight: @basic-weight;
  line-height: @basic-padding;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 13px;
  display: block;
  grid-column-start: -1;
  grid-column-end: 1;

  &:hover {
    background-color: @button-background-hover;
  }

  &:focus {
    color: @buttom-focus-text;
  }
}

.main-catalog__wrapper--all-products {
  text-align: center;

  .main-catalog__product-name {
    padding-bottom: 8px;
    padding-right: 0;
    grid-column-start: -1;
    grid-column-end: 1;
  }
}

.main-catalog__button--button-all {
  padding-top: @basic-padding;
  padding-bottom: @basic-padding;
  color: @special-text;
  background-color: @light-background;

  &:hover {
    background-color: @extra-light-border;
  }

  &:focus {
    color: @light-gray;
  }
}

.main-catalog__wrapper {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 140px;
}

@media (min-width: @tablet-width) {
  .main-catalog {
    padding-left: 0;
    padding-right: 0;
  }

  .main-catalog__header {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 90px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-catalog__item {
    padding: 0 40px 40px;
    border-top: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      transform: translateX(0);
      background-color: @light-background;
      border: 0;
      min-height: 430px;
      width: 100%;
    }

    &:last-child {
      display: flex;

      &::after {
        height: 0;
      }

      &::before {
        background-color: transparent;
        border: 2px solid @light-background;
      }
    }
  }

  .main-catalog__wrapper {
    display: flex;
    flex-direction: column;
    //align-self: flex-end;
    position: relative;
    justify-content: center;
  }

  .main-catalog__product-list {
    font-size: 16px;
    line-height: 16px;
    position: relative;
    width: 100%;
    bottom: auto;
    right: auto;
    margin-top: 0;
  }

  .main-catalog__product-term,
  .main-catalog__product-description {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid @middle-gray-border;
  }

  .main-catalog__link {
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    text-align: center;
    .block-centering;

    .main-catalog__product-name {
      padding-right: 0;
      margin-left: 45px;
      margin-right: 45px;
      font-size: @basic-padding;
      line-height: 24px;
      margin-top: 34px;
      max-width: 174px;
      padding-bottom: 14px;
    }
  }

  .main-catalog__product-image {
    //position: relative;
    //bottom: auto;
    //left: auto;
    //transform: translateX(0);
    //min-height: 200px;
    object-fit: scale-down;

    .block-centering;
  }

  .main-catalog__button {
    font-size: 16px;
    line-height: @basic-padding;
  }

  .main-catalog__button--button-all {
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .main-catalog__plus {
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    stroke: @middle-gray;
    stroke-width: 2px;
  }

  .main-catalog__line {
    stroke-width: 1px;
  }

  .main-catalog__product-caption {
    max-width: 167px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: @desktop-width) {
  .main-catalog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .plus {
    margin-bottom: 0;
  }

  .main-catalog__header {
    margin-bottom: 85px;
  }

  .main-catalog__link {
    .main-catalog__product-name {
      margin-right: @basic-padding;
      margin-left: @basic-padding;
      line-height: 21px;
    }
  }

  .main-catalog__product-image {
    bottom: 86px;
  }

  .main-catalog__button {
    grid-column-start: 2;
    grid-column-end: 2;
    line-height: @basic-padding;
  }
}
