.main-nav__item {
  padding-top: 22px;
  margin-bottom: 22px;
  border-top: 1px solid @super-light-border;
}


.main-nav__link {
  font-family: @header-family;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: @link-color;
  text-transform: uppercase;

  &:hover {
    color: @link-hover;
  }

  &:focus {
    color: @link-focus;
  }
}

.main-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  //background-color: @white-color;
  width: 100%;
  position: relative;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: -40px;
  right: @basic-padding;
  display: none;
}

.main-nav--closed {
  .main-nav__toggle {
    width: 24px;
    height: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 1.5px;
      background-color: @basic-text;
      box-shadow: 0 8px 0 0 @basic-text, 0 16px 0 0 @basic-text;
    }
  }

  .main-nav__toggle:active {
    &::before {
      background-color: fade(@basic-text, 30%);
      box-shadow: 0 8px 0 0 fade(@basic-text, 30%), 0 16px 0 0 fade(@basic-text, 30%);
    }
  }
}

.main-nav--opened {
  .main-nav__toggle {
    width: 18px;
    height: 18px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 0;
      width: 24.76px;
      height: 1.5px;
      background-color: @basic-text;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: fade(@basic-text, 30%);
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    flex-direction: row;
    box-shadow: none;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
  }

  .main-nav__list {
    flex-direction: row;
  }

  .main-nav__item {
    border-top: 0;
    padding-bottom: 5px;
    padding-top: 37px;
    margin-bottom: @basic-padding;

    &:not(:last-child) {
      margin-right: 34px;
    }
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
  }

  .main-nav__item--active {
    border-top: 0;
    border-bottom: 2px solid @basic-background;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__link--index {
    color: @white-color;
    opacity: 1;

    &:hover {
      color: @white-color;
      opacity: 0.6;
    }

    &:focus {
      color: @white-color;
      opacity: 0.3;
    }
  }

  .main-nav__item {
    padding-bottom: 8px;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  .main-nav__link {
    font-size: @basic-padding;
    line-height: 30px;
  }

  .main-nav__item--active-index {
    border-bottom: 2px solid @white-color;
  }
}
