.map {
  background-color: @white-color;
}

.map__partnership {
  padding: 28px @basic-padding 22px;
}

.map__partnership-header {
  font-family: @header-family;
  font-weight: @basic-weight;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.map__partnership-discription {
  font-size: @basic-size;
  color: @special-text;
  line-height: @basic-padding;
}

.form-main {
  .map {
    background-color: @light-background;
  }
}
