.page-header {
  display: flex;
  flex-direction: column;

  .area;
}

.page-header__logo {
  height: 66px;
  display: flex;
  align-items: center;
  position: relative;
}

.page-header__logo-image,
.page-header__logo-name {
  flex-basis: 100% / 3;
}

.page-header__logo-image {
  padding-left: @basic-padding;
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.page-header__logo-name {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
  }

  .page-header__logo {
    height: 52px;
    padding-left: 0;
    display: block;
  }

  .page-header__logo-image,
  source {
    width: 174px;
    padding-left: 0;
  }

  .page-header__logo-name {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding-top: 53px;
  }

  .page-header__logo {
    height: 59px;
  }

  .page-header__logo-image,
  source {
    width: 202px;
  }
}
