.page-footer {
  background-color: @light-background;
  padding-top: 35px;
  padding-bottom: 32px;
}

.page-footer__container {
  .area;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: @basic-padding;
  padding-right: @basic-padding;
}

.page-footer__logo {
  text-align: center;
  margin-bottom: 29px;
  opacity: 1;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.page-footer__logo-img {
  fill: @basic-middle-text;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .page-footer__logo {
    margin-bottom: 0;
    flex-basis: calc(100% / 3);
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-top: 44px;
  }
}
