.program-form__fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

.program-form__legend {
  font-size: 24px;
  line-height: 26px;
  font-family: @header-family;
  font-weight: @basic-weight;
  margin-bottom: 34px;
}

.program-form__textarea {
  color: @special-text;
  font-family: @header-family;
  font-weight: @basic-weight;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  padding-left: 13px;
  border: 1px solid @light-border;
  min-height: 150px;
  width: 100%;

  &::-webkit-input-placeholder {
    color: @special-text;
    line-height: 1;
  }

  &::-moz-placeholder {
    color: @special-text;
    line-height: 1;
  }

  &:-ms-input-placeholder {
    color: @special-text;
    line-height: 1;
  }
}

.program-form__checkbox {
  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.program-form__label {
  font-size: 16px;
  line-height: 18px;
  font-family: @header-family;
  font-weight: @basic-weight;
  text-transform: uppercase;
  padding-left: 46px;
}

.program-form__caption {
  font-size: @basic-size;
  line-height: 18px;
  font-weight: @basic-weight;
  text-align: center;
}

.program-form__wrapper {
  margin-top: 34px;
  margin-bottom: 32px;
}

.program-form__button {
  background-color: @basic-background;
  color: @white-color;
  text-transform: uppercase;
  font-size: 16px;
  font-family: @header-family;
  font-weight: @basic-weight;
  padding: 7px 44px;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: @button-background-hover;
  }

  &:focus {
    color: @buttom-focus-text;
  }
}

@media (min-width: @tablet-width) {
  .program-form__fieldset {
    padding: 0;
    margin-bottom: 60px;
  }

  .program-form__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .program-form__item {
    flex-basis: 50%;
  }

  .program-form__caption {
    text-align: left;
  }

  .program-form__wrapper {
    display: grid;
    grid-template-columns: 282px auto;
    gap: 60px;
    margin-bottom: 72px;
  }
}

@media (min-width: @desktop-width) {
  .program-form__item {
    flex-basis: 100% / 4;
  }

  .program-form__fieldset--question {
    display: grid;
    grid-template-columns: auto 570px;
    gap: 80px;
  }

  .program-form__wrapper {
    grid-template-columns: 568px auto;
    gap: 80px;
    margin-bottom: 80px;
  }
}
