.program-form__fieldset {
  border-width: 0;
}

.program-form__legend {
  font-size: 24px;
  line-height: 26px;
  font-family: @header-family;
  font-weight: @basic-weight;
  margin-bottom: 34px;
}

.program-form__textarea {
  color: @special-text;
  font-family: @header-family;
  font-weight: @basic-weight;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  padding-left: 13px;
  border: 1px solid @light-border;
  min-height: 150px;

  &::-webkit-input-placeholder {
    color: @special-text;
    line-height: 1;
  }

  &::-moz-placeholder {
    color: @special-text;
    line-height: 1;
  }

  &:-ms-input-placeholder {
    color: @special-text;
    line-height: 1;
  }
}

.program-form__checkbox {
  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.program-form__label {
  font-size: 16px;
  line-height: 18px;
  font-family: @header-family;
  font-weight: @basic-weight;
  text-transform: uppercase;
  padding-left: 16px;
}

.program-form__caption {
  font-size: @basic-size;
  line-height: 18px;
  font-weight: @basic-weight;
  text-align: center;
}

.program-form__button {
  background-color: @basic-background;
  color: @white-color;
  text-transform: uppercase;
  font-size: 16px;
  font-family: @header-family;
  font-weight: @basic-weight;
  padding: 7px 44px;
  margin-top: 34px;
  cursor: pointer;

  &:hover {
    background-color: @button-background-hover;
  }

  &:focus {
    color: @buttom-focus-text;
  }
}
