.radio-list {
  border-top: 1px solid @basic-border;
  border-bottom: 1px solid @basic-border;
  padding-top: @basic-padding;
  padding-bottom: @basic-padding;
}

.radio-item__label {
  font-size: 16px;
  line-height: 18px;
  font-family: @header-family;
  font-weight: @basic-weight;
  text-transform: uppercase;
  padding-left: 16px;
}
