.type-program {

  .area;
}

.type-program__wrapper {
  padding-left: @basic-padding;
  padding-right: @basic-padding;
}

.type-program__item {
  background-color: @light-background;
  //padding-left: @basic-padding;
  //padding-right: @basic-padding;
  padding-bottom: @basic-padding;
  position: relative;

  &:not(:last-child) {
    margin-bottom: @basic-padding;
  }
}

.type-program__header {
  padding-top: 30px;
  padding-bottom: 29px;
  font-family: @header-family;
  font-weight: @basic-weight;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  //position: relative;
  padding-left: 69px;

  &::before {
    content: "";
    position: absolute;
    top: 30;
    transform: 0;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: @basic-background;
    border-radius: 50%;
  }

  .indent-resert;
}

.type-program__discription {
  font-size: @basic-size;
  line-height: 18px;
  color: @special-text;
  padding-bottom: 23px;
  margin-bottom: @basic-padding;
  border-bottom: 1px solid @basic-border;
  max-width: 227px;

  .indent-resert;
}

.type-program__link {
  text-transform: uppercase;
  font-family: @header-family;
  font-weight: @basic-weight;
  cursor: pointer;

  &:focus {
    color: @link-focus;
  }
}

@media (min-width: @tablet-width) {
  .type-program__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .type-program__header {
    padding-left: 0;
    font-size: @header-size;
    line-height: @header-size;

    &::before {
      width: 200px;
      height: 200px;
      left: auto;
      right: 62px;
    }
  }

  .type-program__item {
    padding-left: 52px;
    padding-right: 62px;
    min-height: 372px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .type-program__discription {
    border-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    max-width: 337px;
  }

  .type-program__link {
    font-size: @basic-padding;
    line-height: 30px;
    max-width: 168px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .type-program__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-top: 82px;
  }

  .type-program__item {
    display: block;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .type-program__header {
    padding-left: 162px;
    font-size: @header-size;
    line-height: @header-size;
    padding-top: 77px;
    padding-bottom: 73px;

    &::before {
      width: 100px;
      height: 100px;
      top: 47px;
      transform: translateY(0);
      left: 52px;
      right: auto;
    }
  }
}
