.type-program__item {
  background-color: @light-background;
  padding-left: @basic-padding;
  padding-bottom: @basic-padding;
}

.type-program__header {
  padding-top: 30px;
  padding-bottom: 29px;
  font-family: @header-family;
  font-weight: @basic-weight;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.type-program__discription {
  font-size: @basic-size;
  line-height: 18px;
  color: @special-text;
  padding-bottom: 23px;
  margin-bottom: @basic-padding;
  border-bottom: 1px solid @basic-border;
}

.type-program__link {
  text-transform: uppercase;
  font-family: @header-family;
  font-weight: @basic-weight;
  cursor: pointer;

  &:focus {
    color: @link-focus;
  }
}
