// Fonts

@header-family: "Oswald", sans-serif;
@text-family: "Arial", sans-serif;
@basic-size: 14px;
@header-size: 36px;
@basic-weight: normal;
@bold-wight: bold;

// Global

@white-color: #FFFFFF;
@basic-background: #68B738;
@basic-background-opacity: rgba(104, 183, 56, 0.85);
@alternative-background:#EAEAEA;
@light-background: #F2F2F2;
@basic-text: #000000;
@special-text: #444444;
@basic-border: #D9D9D9;
@light-border: #E7E7E7;
@basic-padding: 20px;

// Links

@link-color: @basic-text;
@link-hover: rgba(0, 0, 0, 0.6);
@link-focus: rgba(0, 0, 0, 0.3);
@link-special-focus: rgba(68, 68, 68, 0.3);

// Buttons

@button-background: @basic-background;
@button-background-hover: #5EAA2F;
@button-background-focus: @button-background-hover;
@buttom-focus-text: rgba(255, 255, 255, 0.3);
